@import '../../styles/common.module.scss';

.postContainer {
  width: 100%;

  img {
    width: inherit;
    max-height: 400px;
  }
}

.bodyContainer {
  @include container;
  margin: 80px auto;

  h1 {
    @include title;
    font-size: 48px;
    line-height: 58px;
  }
}

.infoContainer {
  margin: 25px 0 64px;

  div {
    @include infoContainer;

    & + div {
      margin-top: 16px;
    }
  }
}

.postContent {
  h2 {
    @include title;
    margin: 64px 0;
  }

  div {
    text-align: justify;

    p {
      @include subtitle;
      margin-bottom: 24px;
    }
  }
}

.previewContainer {
  a {
    @include preview;
  }
}

.navigationContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid rgb(215, 215, 215, 0.1);

  h3 {
    @include subtitle;
    margin-top: 48px;
  }

  a {
    font-family: 'Inter';
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.5px;
    color: var(--highlight-color);
    margin-top: 8px;
    display: block;
  }
}
